/* For Angular */
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
	}
	.animate-hide {
	  transition: all linear 0.5s;
	  line-height: 20px;
	  opacity: 1;
	  padding: 10px;
	  background: white;
	}
	.animate-hide.ng-hide {
	  line-height: 0;
	  opacity: 0;
	  padding: 0 10px;
	}
	.check-element {
	  padding: 10px;
	  border: 1px solid black;
	  background: white;
	}
/* ./For Angular */

	/* Reset Bootstrap*/
		.lista_informativa{
			position: relative;
			margin: 20px 0 20px 20px;
			padding: 0;
		}
		.lista_informativa li{
			margin: 0 0 10px 0;
		}
		.lista_informativa li span{
			display: block;
			font-size: 12px;
		}
		.lista_informativa li span:nth-child(1){
			font-size: 16px;
		}
		.navbar-brand img{
			margin: 0 0 0 17px;
		}
		.navbar-inverse{
			background: #080808!important;
			border: none;
			color: white;
		}
		.btn{
			transition: background 0.5s;
		}
		.center{
			text-align: center;
		}
		input[type=email],
		input[type=text],
		textarea,
		select{
			border-radius: 0!important;
			resize: none!important;
			outline-color: #455a64!important;
		}
		.btn{
			border-radius: 0!important;
		}
		.table{
			border-bottom: 1px solid #ebebeb;
		}
		.table thead {
			background: #757575;
			color: white;
		}
		.table thead th{
			font-weight: normal;
			font-size: 14px; 
		}
		h2 {
		    border-bottom: 1px solid #ebebeb;
		    font: 400 24px/32px Roboto,sans-serif;
		    letter-spacing: -.01em;
		    margin: 0 0 20px;
		    padding-bottom: 3px;
		}
	/* ./Reset Bootstrap*/

body {
	font-family: 'Roboto';
    padding-top: 50px;
    padding-bottom: 30px;
}

/* On Scroll*/
#navbar.onScroll{
	position: fixed;
	right: 0;
	left: 0;
	padding: 0 15px;
	top: 56px;
	z-index: 1000;
}
body.onScroll{
	padding: 105px 0 0 0;
}
h1#topTitle.onScroll{
	margin-bottom: 25px;
}
#menu-lateral-primario.onScroll{
	position: fixed;
	top: 140px;
	width: inherit;
	box-sizing: inherit;
}
#menu-lateral-secundario.onScroll{
	position: fixed;
	top: 140px;
}
/* ./On Scroll*/

/* Breadcrumb AND topTitle*/
h1#topTitle{
	background: #333!important;
	margin: 0;
	padding: 0;
	color: white;
	padding: 15px 30px;
	font-size: 32px; 
}
ol#breadcrumb{
	position: relative;
	display: block;
	margin: 0;
	padding: 15px 30px 0 30px;
	list-style: none;
	clear: both;
	white-space: nowrap;
	color: white;
	background: #333!important;
}
ol#breadcrumb li{
	display: inline-block;
	margin: 0 5px 0 0;
}
ol#breadcrumb li a{
	color: #fff;
    display: inline-block;
    padding: 16px 0 8px;
    transition: opacity .2s;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.5s;
}
ol#breadcrumb li a:hover{
    opacity: 1;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px ) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
/* ./Breadcrumb AND topTitle */

/*NavBar*/
#navbar{
	text-transform: uppercase;
	background: #333!important;
}
#navbar a{
	color: white;
	opacity: 0.5;
}
#navbar a:hover{
	background: transparent;
	opacity: 1;
}
#navbar a.active{
	border-bottom: solid 3px white;
	opacity: 1;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-header {
	    margin-right: 0;
	    margin-left: 0;
	    padding: 3px 0;
	}
}
@media (min-width: 992px ) and (max-width: 1199px) {
	#navbar{
		margin-bottom: 20px;
		box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	}
	.navbar-header {
	    margin-right: 0;
	    margin-left: 0;
	    padding: 3px 0;
	}
}
@media (min-width: 1200px) {
	#navbar{
		margin-bottom: 35px;
		box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	}
	.navbar-header {
	    margin-right: 0;
	    margin-left: 0;
	    padding: 3px 0;
	}
}
/* ./NavBar*/
.navbar-brand {
    float: left;
    height: 50px;
    padding: 1px 1px;
    font-size: 18px;
    line-height: 20px;
}
.user-wrapper{
	position: relative;
	float: right;
}
.user-links-wrapper{
	color:white;
	display: inline-block;
}

/* Menu Lateral Secundário*/
	ul#menu-lateral-secundario{
	    list-style-type: none;
	    padding: 0 0 0 20px;
	    margin: 0;
	    border-left: solid 3px #034279;
	}
	ul#menu-lateral-secundario li{
		margin-bottom: 10px;
	}
	ul#menu-lateral-secundario li a{
	    color: black;
	    text-decoration: none;
	    font-size: 12px;
	    line-height: 8px;
	}
	ul#menu-lateral-secundario li a:hover{
	    color: #03a9f4;
	    text-decoration: none;
	}
/* ./Menu Lateral Secundário*/

/*Menu Lateral Primário*/
	ul#menu-lateral-primario{
	    list-style-type: none;
	    padding: 10px 20px 10px 10px;
	    margin: 0;
	    border-left: solid 3px #f5f5f5;
	}
	ul#menu-lateral-primario li{
		margin-bottom: 10px;
	}
	ul#menu-lateral-primario li a{
	    color: black;
	    text-decoration: none;
	    font-size: 12px;
	    line-height: 8px;
	}
	ul#menu-lateral-primario li a i,{
	    color: black;
	    text-decoration: none;
	    font-size: 12px;
	    line-height: 8px;
	}
	ul#menu-lateral-primario li a:hover{
	    color: #03a9f4;
	    text-decoration: none;
	}
/* ./Menu Lateral Primário*/

/*Listas*/
@media (min-width: 1200px) {
}
@media (min-width: 992px ) {
	.row-filter-list,
	.row-buttons-list{
		margin-bottom: 10px;
		padding: 0;
	}
	.row-buttons-list .fa{
		margin-right: 5px; 
	}
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
}
/* ./Listas*/

/*footer*/
footer{
	margin: 0;
	padding: 0;
	color: white;	
}
footer ul{
	position: relative;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
	color: white;
}
footer ul li a{
	font-size: 12px;
	color: white;
	opacity: 0.5;
	transition: opacity 0.5s;
}
footer ul li a:hover{
	opacity: 1;
	text-decoration: none;
	color: white;
}
footer .row{
	background: #424242;
	padding: 20px 0;
}
footer .mega-footer{
	background: #616161;	
	font-size: 12px;
}
.btn-primary {
    color: #fff;
    background-color: #ce6031;
    border-color: #ce6031;
}
.btn-primary:hover {
    color: #fff;
    background-color: #e3a624!important;
    border-color: #e3a624!important;
}
.btn-success {
    color: #fff;
    background-color: #ce6031;
    border-color: #ce6031;
}

.btn-success:hover{
    color: #fff;
    background-color: #e3a624!important;
    border-color: #e3a624!important;
}
