<div class="row">
	<ol id="breadcrumb">
		<li> <a href="#home"> <i class="fa fa-home"></i> Página Inicial </a> </li>
	</ol>
	<h1 id="topTitle">
		Bem-vindo ao Fafica Minha Reserva.
	</h1>
</div>

<!-- Include Nav Menu -->
<div id="rowForNav" ng-include="'src/app/shared/template/nav-menu.html'" class="row"></div>

<!-- ROW -->
<div class="row">
	<div class="col-md-10">
		<div class="alert alert-warning" role="alert"> 
			<strong>Atenção!</strong> 
			Leia atentamente as instruções abaixo.
		</div>
		<h3>Primeiros passos</h3>
		<ul class="lista_informativa">
			<li>
				<span>
					<span>Conheça o Processo</span>
					<span>
						Fique por dentro de como funciona o processo de reservas
						do Fafica Minha Reserva.
					</span>
				</span>
			</li>
			<li>
				<span>
					<span>Faça sua Reserva</span>
					<span>
						Sabendo como funciona o processo, crie sua proposta para realização de evento e submeta para análise.
					</span>
				</span>
			</li>
			<li>
				<span>
					<span>Aguarde Avaliação</span>
					<span>
						Uma vez que a submissão foi realizada, é só aguardar que em poucos dias
						você receberá por email as considerações da coordenação de eventos da
						FAFICA
					</span>
				</span>
			</li>
		</ul>
		<a href="#nova-proposta" class="btn btn-primary">
			Criar Proposta Para Realização de Evento.
		</a>
		<br><br><br><br><br><br><br><br><br><br>

	</div>
	<div class="col-md-2">
		<ul id="menu-lateral-secundario">
			<li><b>Perguntas Comuns</b></li>
			<li>
				<a href="">Onde minhas submissões aparecerão?</a>
			</li>
			<li>
				<a href="">Porque esse processo deve existir?</a>
			</li>
			<li>
				<a href="">Em quanto tempo obterei uma resposta da comissão de organização de Eventos?</a>
			</li>
			<li></li>
			<li><b>Tenho outras dúvidas ou problemas</b></li>
			<li>
				<a href="">Entre em contato conosco.</a>
			</li>
		</ul>
	</div>
</div>