<div class="row">
	<ol id="breadcrumb">
		<li> <a href="#home"> <i class="fa fa-home"></i> Página Inicial </a> </li>
	</ol>
	<h1 id="topTitle">
		Bem-vindo ao Science Resultados
	</h1>
</div>

<!-- Include Nav Menu -->
<div id="rowForNav" ng-include="'src/app/shared/template/nav-menu.html'" class="row"></div>

<!-- ROW -->
<div class="row">
	<div class="col-md-10">
		<div class="alert alert-warning" role="alert"> 
			<strong>Atenção!</strong> 
			Leia atentamente as instruções abaixo.
		</div>
		<h3>Passos</h3>
		<ul class="lista_informativa">
			<li>
				<span>
					<span>Primeiro passo </span>
					<span>
						Cadastre todas os Niveis das Questoes.
					</span>
					<a href="#new-level" class="btn btn-primary">
						Cadastrar Nova Nivel - Primeiro Passo.
					</a>
				</span>
			</li>
			<li>
				<span>
					<span>Segundo passo</span>
					<span>
						Cadastrar todo os concursos.
					</span>
						<a href="#new-contest" class="btn btn-primary">
						Cadastrar Nova Concurso - Segundo Passo.
						</a>
				</span>
			</li>
			<li>
				<span>
					<span>Terceiro passo</span>
					<span>
						Cadastrar todo os estudantes.
					</span>
						<a href="#new-student" class="btn btn-primary">
							Cadastrar Nova Esdudante - Terceiro Passo.
						</a>
				</span>
			</li>
			<li>
				<span>
					<span>Quarto passo</span>
					<span>
						Cadastrar toda as questoes.
					</span>
					<a href="#new-question" class="btn btn-primary">
							Cadastrar Nova Questão - Quarto Passo.
						</a>
				</span>
			</li>
			<li>
				<span>
					<span>Quinto passo</span>
					<span>
						Cadastrar Quiz.
					</span>
					<a href="#new-quiz" class="btn btn-primary">
							Cadastrar Novo Quiz - Quinto Passo.
						</a>
				</span>
			</li>
		</ul>
		
		
		</a>
		
		<br><br><br><br><br><br><br><br><br><br>

	</div>
	
</div>