<div class="row">
	<ol id="breadcrumb">
		<li><a href="#home"> <i class="fa fa-home"></i> Página
				Inicial
		</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li><a href="#list-student"> Alunos </a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Novo Aluno</li>
	</ol>
	<h1 id="topTitle">Cadastre Novo Aluno</h1>
</div>

<!-- Include Nav Menu -->
<div id="rowForNav" ng-include="'src/app/shared/template/nav-menu.html'"
	class="row"></div>

<!-- ROW -->
<div class="row">

	<div id="rowForNav" class="col-md-2"></div>

	<div class="col-md-8">

		<h2>Informe corretamente os dados abaixo.</h2>

		<p>
			<i> * Campos obrigatórios </i>
		</p>

		<form name="formularioDeProposta" method="post"
			ng-submit="inserirStudentCtrl.verificarExistencia()">
			<div class="form-group">
				<label>Nome: *</label> <input type="text"
					ng-model="inserirStudentCtrl.student.name" class="form-control" required>
			</div>
			<div class="form-group">
				<label>CPF: *</label> <input id="cpf" my-input-cpf
					ng-model="inserirStudentCtrl.student.cpf" required>
			</div>
			<div class="form-group">
				<label>Email: *</label> <input type="email"
					ng-model="inserirStudentCtrl.student.email" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Data de Nascimento: *</label> <input id="birthday"
					my-input-date ng-model="inserirStudentCtrl.student.birthday" class="form-control" required>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label>Concurso</label><br> <select class="form-control"
							ng-model="inserirStudentCtrl.student.idContest"
							ng-options="contest.id as contest.name for contest in inserirStudentCtrl.contests"
							required>
							<option value="">Selecione um Concurso</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-success">Inserir Aluno</button>
			</div>
		</form>

		<br>
		<br>
		<br>
		<br> 
		<br> 
	   	<br>	
	   	<br>
		<br> 
		<br>
		<br>
		
	</div>

	<div id="rowForNav" class="col-md-2"></div>

</div>