<section id="login">

	<div id="centerForm">

		<div class="content_marca">
			<h3><img src="src/assets/img/brand-top.png" alt=""></h3>
		</div>

		<form id="loginForm" ng-submit="loginCtrl.login();">
			
			<input type="text" required ng-model="loginCtrl.obj.email" placeholder="Seu Email">
			<input type="password" required ng-model="loginCtrl.obj.password" placeholder="Sua Senha">
			<input type="submit" value="Acessar">
		</form>

		<div class="content_extra_links">
			<a href="#recuperar-login">Não consigo acessar.</a>
		</div>

	</div>

	<div class="loginFooter">
		© 2016 - Desenvolvido TwoDev  <br>
		
	</div>

</section>
