<div class="row">
	<ol id="breadcrumb">
		<li> <a href="#home"> <i class="fa fa-home"></i> Página Inicial </a> </li>
		<li> <i class="fa fa-angle-right"></i> </li>
		<li> Quiz </li>
	</ol>
	<h1 id="topTitle">
		Quiz
	</h1>
</div>

<!-- Include Nav Menu -->
<div id="rowForNav" ng-include="'src/app/shared/template/nav-menu.html'" class="row"></div>

<!-- ROW -->
<div class="row">
home
	<div id="rowForNav" class="col-md-2"></div>

	<div class="col-md-8">

		<h2>
			Lista de Quiz
		</h2>

		<div class='row row-buttons-list'>
			<div class='col-xs-12 col-md-12'>
				<a href="#new-quiz" class="btn btn-primary">
					<i class="fa fa-plus"></i> Nova Quiz 
				</a>
			</div>
		</div>
				
		<div class='row row-filter-list'>
			<div class='col-xs-4 col-md-4'>
				<label>Itens por página:</label>
				<select class="form-control" ng-model="pageSizeOfGenericList">
					<option value="5" ng-selected="selected">Exibir 5 por página</option>
					<option value="10">Exibir 10 por página</option>
					<option value="15">Exibir 15 por página</option>
					<option value="20">Exibir 20 por página</option>
				</select>
			</div>
			<div class='col-xs-4 col-md-4'></div>
			<div class='col-xs-4 col-md-4'>
				<label>Localizar:</label>
				<input 
					type="text" 
					class="form-control" 
					ng-keyup="filterList()"
					ng-model='filterListInput'>
			</div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Data</th>
					<th></th>
					
				</tr>
			</thead>
			<tbody> 
				<tr ng-repeat="quizList in dataOfGenericList | 
					   startFrom:currentPageOfGenericList*pageSizeOfGenericList | 
					   limitTo:pageSizeOfGenericList">
					<td>{{quizList.id}}</td>
					<td>{{quizList.name}}</td>
					<td>{{quizList.date}}</td>
					
					
					<td> 
										  					  
					</td>
				 </tr>
			</tbody>
		</table>

		<div class="row row-buttons-pagination-list">

			<div class="col-xs-12 col-md-12">
				<button class="btn btn-primary" ng-disabled="currentPageOfGenericList == 0"
					ng-click="currentPageOfGenericList=currentPageOfGenericList-1"> <i class="fa fa-angle-double-left"></i>  </button>
				<button class="btn btn-primary" ng-disabled="currentPageOfGenericList >= dataOfGenericList.length/pageSizeOfGenericList - 1"
					ng-click="currentPageOfGenericList=currentPageOfGenericList+1"> <i class="fa fa-angle-double-right"></i> </button>
			</div>

		</div>

		<br><br><br><br><br><br><br><br>

	</div>

	<div id="rowForNav" class="col-md-2"></div>

</div>