<div id="navbar" class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
		<li>
			<a href="#home" ng-class="{ 'active' : page=='home' }">Página Inicial</a>
		</li>
		
		<li>
			<a href="#list-student" ng-class="{ 'active' : page=='list-student' }">Alunos</a>
		</li>
		<li>
			<a href="#list-contest" ng-class="{ 'active' : page=='list-contest' }">Concurso</a>
		</li>
		<li>
			<a href="#list-quiz" ng-class="{ 'active' : page=='list-quiz' }">Quiz</a>
		</li>
		<li>
			<a href="#list-level" ng-class="{ 'active' : page=='list-level' }">Levels</a>
		</li>	
		<li>
			<a href="#list-question" ng-class="{ 'active' : page=='list-question' }">Questões</a>
		</li>
	</ul>
</div>