<footer>
	<div class="row">
		<div class="col-md-3">
			<span>
				Para Maiores Informações:
			</span>
			<ul>
				<li><a href="https://developers.google.com/web/starter-kit/">Contato</a></li>
				<li><a href="#">Ajuda</a></li>
				<li><a href="#">Privacidade e Termos</a></li>
			</ul>
		</div>
		<div class="col-md-9"></div>
	</div>
	<div class="row mega-footer">
		<div class="col-md-12">
			© 2016 - Desenvolvido pelo Núcleo de Inovação Tecnológica FAFICA. <br>
			Associação Diocesana de Ensino e Cultura de Caruaru. <br>
		</div>
	</div>
</footer>