<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">
			<img src="src/assets/img/brand-top.png" alt="">
		</a>
		
		
	</div>

	<div class="user-wrapper">
		<div class="user-links-wrapper">
			<div class="devsite-user-links-row">
				Nome do Usuário
			</div>
			<div class="devsite-user-links-row">
				<a>
   					Sair
				</a>
			</div>
		</div>
	</div>
	
</div>